<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>

    <!-- Meta Data -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <title><%= current_page.data.title_tag || "" %></title>
    <meta name="description" content="<%= current_page.data.meta_description || "" %>">
    <meta name="keywords" content="<%= current_page.data.meta_keywords || "" %>">
    <link rel="canonical" href="<%= config[:site_url] %>/<%= current_page.path %>">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="robots" content="index,follow">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= config[:twitter_site] %>">
    <meta name="twitter:title" content="<%= current_page.data.title_tag || "" %>">
    <meta name="twitter:description" content="<%= current_page.data.meta_description || "" %>">
    <meta name="twitter:image" content="<%= config[:twitter_fb_large_image] %>">

    <!-- Oprn Graph General (Facebook & Pinterest) -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= current_page.data.title_tag || "" %>" />
    <meta property="og:description" content="<%= current_page.data.meta_description || "" %>" />
    <meta property="og:url" content="<%= config[:site_url] %>" />
    <meta property="og:site_name" content="<%= config[:site_name] %>" />
    <meta property="og:app_id" content="<%= config[:og_app_id] %>">
    <meta property="og:image" content="<%= config[:twitter_fb_large_image] %>">

    <!-- Schema org -->
    <meta itemprop="name" content="<%= current_page.data.title_tag || "" %>">
    <meta itemprop="description" content="<%= current_page.data.meta_description || "" %>">
    <meta itemprop="image" content="<%= config[:twitter_fb_large_image] %>">

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.body_class || "" %> <%= config[:page_transitions] %> <%= config[:stretched] %> <%= config[:dark] %>">
   
  
    <%= partial "partials/header" %>
       <%= yield %>
    <%= partial "partials/footer" %>
   
    <!-- Goto Top -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <%= javascript_include_tag :all %>
    <%= partial "partials/js_scripts" %>
    <%= partial "partials/tracking_code" %>
  </body>
</html>