<%= c_footer(
	type: "3",
	nav: [
		{link: "#", label: "Home"},
		{link: "#", label: "About"},
		{link: "#", label: "Contact"},
		{link: "#", label: "Services"},
		{link: "#", label: "Products"},
		],
	dark: false,
	content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod",
	background_image: "http://canvashtml-cdn.semicolonweb.com/images/world-map.png"
	) %>