<%= c_header(
		type: "transparent_dark",
		light_logo: "/assets/images/logo.png",
		dark_logo: "/assets/images/logo-dark.png",
		light_logo_2x: "/assets/images/logo@2x.png",
		dark_logo_2x: "/assets/images/logo-dark@2x.png",
		button_link: "/",
		button_css: "",
		button_label: "Hi",
		nav: [
			{label: "Why CENTS", css_class: "", link: "/why-cents/"},
			{label: "Products", css_class: "", link: "/products/"},
			{label: "Services", css_class: "", link: "/services/"},
			{label: "Seminars", css_class: "", link: "/events/"},
		],
	) %>