<% if build? %>
  <!-- Start Tracking Code -->
  <!-- # Google Analytics -->
<%# google_analytics_tag %>

<!-- # Universal Analytics -->
<%= google_analytics_universal_tag %>
  <!-- End Tracking Code -->
<% end %>