---
layout: "layout"
body_class: ""
title_tag: ""
meta_keywords: ""
meta_description: ""
changefreq: "monthly"
priority: "0.5"
---
<%= c_slider(
	type: "static",
	slides: [
		{
			background_image: "/assets/images/slider/full/1.jpg", 
			body: "We have fun and games",
			title: "Welcome to the Jungle",
			dark: false, 
			annimation_class: "fadeInUp"
		},
		{
			background_image: "/assets/images/slider/full/1.jpg", 
			body: "We have fun and games2",
			title: "Welcome to the Jungle2",
			dark: false, 
			annimation_class: "fadeInUp"
		}
	]
	) %>